.category {
  float: left;
  display: block;
  color: white;
  text-align: center;
  width: 206px;                        height: 48px;                        padding-top: 5px;
  background-color: #8fe360;
  margin: 10px;
  text-decoration: none;               border: none;                        border-radius: 10px;               }
@media screen and (max-width: 600px)
{                                      .category {
    float: none;
    display: block;
    text-align: center;
    width: 50%;                     
  }
}
